/* Variables */
// fonts
$font-primary: 'Work Sans', sans-serif;

// font-colors
$text-primary: #0D2A46;
$text-secondary: #58585A;

// colors
$white: #ffffff;
$black: #000000;

$dark-pink: #221F20;


$border-bg: #D5D5D5;
$shadow-bg: #DFE3E4;

//Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);




// font-colors
$text-primary: #29293a;
$text-secondary: #333333;

// colors
$white: #ffffff;
$grey: #f2f3f9;

$smoke-black: #333333;
$black: #000000;
$pink: #ed1c94;
$lightpink: #f8c7e6;
$purple: #981df0;
$darkpurple: #660da6;
$darkpink: #d6198d;
$snow-white: #f6f7fb;
$nav-shadow: #e8eaef;
$scrollbar:#c37bf6;
$charcoal: #29293a;
$lightpurple: #b11dd5;
$card-border: #c2c2c3;
$card-hover: #6d0eb1;
$card-hr: #94949c;
$card-text: #888891;
